.form-controller {
    color: inherit;
    $default-outline: 3px solid #e0e0e7;
    $focus-color: rgba($color-primary, 0.6);
    $error-color: rgba($color-secondary, 0.6);
    padding: calc(var(--gutter-horizontal) / 2);

    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-items: center;

    justify-content: flex-end;
    margin-bottom: 1rem;

    input,
    select {
        color: inherit;
        border: none;
        border: $default-outline;
        border-radius: 4px;
        display: block;
        font-size: var(--font);
        padding-left: 0.6rem;
        width: 100%;
        height: 45px;
        border-style: solid;
        appearance: none;
        box-shadow: inset 0px 0px 0px 0px red;
        font-family: inherit;
        font-weight: 300;

        &:focus {
            border-color: $focus-color;

            + button {
                color: $focus-color;
            }
        }

        &.error {
            border: 3px solid rgba($color-secondary, 0.5);
        }
    }

    .with-clear-button {
        flex-basis: 100%;
        position: relative;

        button {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0;
            padding: 0 15px 5px;
            font-size: 25px;
            cursor: pointer;
            border: none;
            background: none;
            border: 3px solid transparent;
            font-weight: bolder !important;
            color: #e0e0e7;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            &:active,
            &:focus {
                // background-color: $focus-color;
                border: 3px solid $focus-color;
                color: $focus-color;
            }
        }
    }

    button[type="submit"],
    input[type="submit"] {
        border: $default-outline;

        &:focus {
            border-color: $focus-color;
        }
    }

    .customSelect {
        flex: 1;
        margin: 1rem 0 0;

        select {
            background: #fff;
            --arrow-color: #d6d6db;
            color: #767676;
            appearance: none;
            background-image: linear-gradient(45deg, transparent 50%, var(--arrow-color) 50%),
                linear-gradient(135deg, var(--arrow-color) 50%, transparent 50%);
            background-position: calc(100% - 16px) calc(1em - 3px), calc(100% - 6px) calc(1em - 3px), 100% 0;
            background-size: 10px 10px, 10px 10px;
            background-repeat: no-repeat;

            &:focus {
                --arrow-color: #8c45b8d2;
            }

            &.hasOption {
                color: var(--grey-darkest);
            }
        }
        select:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }

    @media (min-width: 360px) {
        
        .customSelect {
            // width: 120px;
            &.spacer {
                margin-right: 1rem;
            }
        }
    }

    @media (min-width: 600px) {
        flex-flow: nowrap;

        .customSelect {
            margin: 0;

            flex: none;

            &.spacer {
                margin: 0 10px;
            }
        }
    }
    @media (min-width: 900px) {
        .customField {
            max-width: 400px;
        } 
        .customSelect {
            &.spacer {
                margin: 0 20px;
            }
        }
    }
}
